[Unit]
Description=Mumble Server (Murmur, app __APP__)
Requires=network-online.target
After=network.target

[Service]
User=mumble-server
Group=mumble-server
Type=forking
# https://www.freedesktop.org/software/systemd/man/systemd.exec.html#RuntimeDirectory=
RuntimeDirectory=mumble-server
ExecStart=/usr/sbin/murmurd -ini __FINALPATH__/mumble-server.ini
PIDFile=/var/run/mumble-server/__APP__.pid
ExecReload=/bin/kill -s HUP $MAINPID
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ProtectControlGroups=yes
ProtectKernelModules=yes
ReadWritePaths=__FINALPATH__ /var/log/mumble-server /var/run/mumble-server

[Install]
WantedBy=multi-user.target
